version: '3.8'

services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    environment:
      - REDIS_URL=redis://redis:6379/0
      - DATABASE_URL=sqlite:///./app.db
      - API_FOOTBALL_KEY=${API_FOOTBALL_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    depends_on:
      - redis
    networks:
      - football-network
    expose:
      - "8000"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - football-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra-nginx/data/nginx.conf:/etc/nginx/nginx.conf
      - ./infra-nginx/data/conf:/etc/nginx/conf.d
      - ./infra-nginx/cert.pem:/etc/cert.pem
      - ./infra-nginx/private.key:/etc/private.key
    depends_on:
      - web
    networks:
      - football-network
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''


volumes:
  redis_data:

networks:
  football-network:
    driver: bridge
